.side-menu-mobile {
  height: 100vh;
  background-color: #2f323a;
  box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 350px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  display: flex;
}

.side-menu-mobile ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
}

.side-menu-mobile li {
  /* display: block; */
  align-self: auto;
}

.side-menu-mobile.open {
  transform: translateX(0);
}

.side-menu-mobile .side-menu-mobile-link {
  /* height: 100%; */
  color: wheat;
  /* display: block; */
  /* width: 100%; */
  /* line-height: 60px; */
  text-decoration: none;
  font-size: 1.3rem;
  /* margin: 0.9rem 0; */
  /* padding-left: 40px; */
  box-sizing: border-box;
  transition: 0.5s;
  /* transition-property: background; */
}

.side-menu-mobile li:hover {
  background: #19b3d3;
}
.side-menu-mobile i {
  color: darkorange;
  padding-right: 10px;
}

@media only screen and (min-width: 768px) {
  .side-menu-mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .side-mobile-menu-button {
    display: none;
  }
}
